#container {
	margin-left:20%;
}

.row {
    display: flex;
    font-size: 9.5px;
    text-align: center;
    color: red;
}
.cell {
    width: 10px;
    height: 10px;
    margin: 1px;
    border: 1px solid black;
}

h2 {
	margin-top:0px;
	margin-bottom:7px;
}

p.info {
	padding-bottom:2px;
	border-bottom: 1px black solid;
}

.submit {
	margin-right: 2vw;
	margin-top:1vh;
	margin-bottom:1vh;
}